div{
    width: 150px;
    height: 140px;
   padding: 10px;
   margin-bottom: 10px;
   display:inline;

}
.box1{
    background-color: blue;
    display: none;  /* kono kisuke ekdom sorate'none' */
}
.box2{
    background-color: lightcoral;
}
.box3{
    background-color: lightgreen;
}
b{
   margin-top: 20px;
    display: inline-block;
    background-color: #dadada;
    width: 70px;
    height: 70px;
    /* display: contents; all css design off */
}
h1{
    font-size: 80px;
    background: linear-gradient(to left, rgb(194, 228, 102),
     hotpink, skyblue);
     width: 840px;
    -webkit-text-fill-color: transparent; /* kach,no color */
    background-clip: text;
}